.btn{
  margin-top: 2rem;
  padding: 1rem;
  width: 30%;
  display: flex;
  justify-self: center;
}

.list{

  overflow-y: scroll;
  min-height: 60vh;
}

.list li{
  background-color: rgb(247, 248, 248);
  padding: 1rem;
  border-radius: 10px;
  margin-right: 2rem;
  margin-bottom: 1rem;

}

