.navigation{
    display: flex;
    justify-content: space-evenly;
    /* gap: 3rem; */
}
.dropdown{
    background-color: #0d6efd;
    border-color: #0d6efd;
    text-decoration: none;
    border-radius: 5px;    
}
.dropdown a{
    
    color:white !important;
}
.dropdown :focus{
    box-shadow: rgb(49,132,253);

}


.navigationMain{
    display: flex;
    justify-content: space-between;
}

.navigationMain Button {
    background-color: yellow;
}
.navigationMain a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    /* width: 5rem; */
    /* margin: 1rem; */
}
.eschoolBrand{
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.eschoolBrand img {
    margin-right: 2rem;

}
@media only screen and (max-width: 980px) {
    .eschoolBrand{
        justify-self: flex-start;
    }
    .navigationMain{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .navigationMain a{
        display: flex;
        /* gap: 1rem; */
        margin: 0.5rem;
        width: 15rem;
        justify-content: center;

    }
}